---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

<!-- Footer -->
<footer class="container">
  <br><hr>
  <!-- counts ip -->
  <div class="row" style="text-align: center">
    <a href="https://clustrmaps.com/site/1c6ri"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?cl=080808&w=a&t=n&d=T68eITSAfc7Ka6LsOso8fAHcc6MPzWZKo5huCoQ19rk&co=ffffff&ct=808080"/></a>
  </div>
  <div class="row" style="text-align: center">
    © 2023-2024 Yang Liu
  </div>
</footer>
  </body>
</html>